hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border: 0 !important;
    border-top: 1px solid !important;
}

/*css khi back lại trang đổ màu cho tr*/
.bg_thanhly {
    background-color: #eccccc !important;
}

/*css khi back lại trang đổ màu cho tr*/

/*custom_css by thinhlv*/
.nav.side-menu > li.current-page, .nav.side-menu > li.active {
    border-right: none !important;
}

.container {
    width: 100%;
    padding: 0;
    background: #E9F1EE !important;
}

.x_title_custom {
    border-bottom: 1px solid #00C0EF !important;
    /*padding: 1px 5px 6px;*/
    /*margin-bottom: 10px;*/
}

footer {
    /*display: none !important;*/
}

/*label box search*/
label {
    display: -webkit-inline-box;
!important;
}

div#datatable-product_filter {
    /*float: left !important;*/
    width: 100% !important;
}

/*.dataTables_filter{*/
/*width: 100% !important;*/
/*}*/

.dataTables_length {
    width: 0% !important;
}

.btn-green-cyan {
    color: #fff;
    background-color: #247d47;
    border-color: #2e6da4;
}

.col-xs-1-5 {
    width: 12.49995%;
}

.form-control-custom {
    display: block;
    width: 100%;
    height: 34px;
    /*padding: 6px 12px;*/
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*css người dùng*/
/*.field-icon {*/
/*float: right;*/
/*margin-left: -25px;*/
/*margin-top: -25px;*/
/*position: relative;*/
/*z-index: 2;*/
/*}*/

/*css người dùng*/

.nav_menu {
    /*background-color: #2B7B4B !important;*/
}

.nav_menu a {
    /*color: #fff !important;*/
}

.top_nav .dropdown-menu li a {
    /*color: #333 !important;*/
}

.nav.navbar-nav > li > a {
    /*color: #fff !important;*/
}

.top_nav .navbar-right .fa {
    /*color: #fff !important;*/
}

.left_col {
    /*background: #E9F1EE !important;*/
}

.nav.side-menu > li.active > a {
    /*background: #f1cf69 !important;*/
    /*background: #E9F1EE !important;*/
}

.nav.side-menu > li > a, .nav.child_menu > li > a, .main_menu_side h3, .nav.side-menu > li > a .fa {
    /*color: #333 !important;*/
    /*text-shadow: none !important;*/
}

/*.nav.side-menu > li > a .fa {*/
/*color: #333 !important;*/
/*}*/

/*.nav.side-menu > li > a:hover {*/
/*color: #f1cf69 !important;*/
/*}*/
.nav.side-menu > li > a:hover {
    /*color: red !important;*/
}

.img-circle.profile_img_logo {
    width: 100% !important;
    background: none !important;
    border: none !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    padding: 0px !important;
}

.top_nav .navbar-right ul a {
    /*color: #fff !important;*/
}

.nav li.current-page {
    background: #1fa0889e !important
}

.profile_info span, .profile_info h2 {
    /*color: #333 !important;*/
}

.font10 {
    font-size: 10px !important;
}

.font12 {
    font-size: 12px !important;
}

.font31 {
    font: 700 24px/23px "Helvetica Neue", Roboto, Arial, "Droid Sans";
    /*color: #004175;*/
}

.font60 {
    font-size: 60px;
}

.font15 {
    font-size: 15px;
}

.font19 {
    font: 700 24px/19px "Helvetica Neue", Roboto, Arial, "Droid Sans";
    color: #3C96D2;
}

.mgb15 {
    margin-bottom: 15px;
}

.padding0 {
    padding: 0px !important;
}

.font_weight0 {
    font-weight: unset !important;
}

.padding_top10 {
    padding-top: 11px !important;
}

.nav-sm .profile {
    /*display: inline !important;*/
}

table.jambo_table thead {
    background: #1abb9c !important;
}

input[type=checkbox] {
    margin: 0px 0 0;
    zoom: 1.5;
}

.text-pre {
    white-space: pre !important;
}

/*custom_css by thinhlv*/